.background {
    // svg background 
    position: absolute;
    top: 0;
    width: 100%;
    height: 940px;
    z-index: -3;
}
.circles {
    // part of bg
    position: absolute;
    top: -60px;
    right: -100px;
    z-index: -2;
}

.header {
    width: 100%;
    padding: 248px 0 302px;
    &__buttons {
        display: flex;
        position: relative;
        width: 378px;
        justify-content: space-between;
    }
    .container {
        position: relative;
    }
    &__img {
        position: absolute;
        top: -90px;
        z-index: -1;
        right: -350px;
    }
    overflow: hidden;
}

.content {
    &__title {
        font-size: 52px;
        line-height: 130%;
        font-weight: 700;
        z-index: 5;

    }
    &__subtitle {
        margin-top: 60px;
        font-size: 36px;
        color: $extra-color;
    }
    a {
        text-decoration: none;
    }
    &__buttons {
        margin-top: 30px;
        display: flex;
        width: 515px;
        justify-content: space-between;
        svg {
            margin-right: 10px;
        }
    }
}
